astropy
hypothesis==6.29.*
matplotlib
more-itertools
numpy>1.21.*
openpyxl
pytest
pytz
tabulate
scipy
coverage
requests
omegaconf
fastapi
strawberry-graphql[fastapi]
uvicorn[standard]
lucupy
pytest-asyncio
gelidum
python-dateutil
