astropy
hypothesis
matplotlib
more-itertools
numpy
openpyxl
pandas
pytz
pytest
tabulate
scipy
coverage
requests
omegaconf
fastapi
strawberry-graphql[fastapi]
uvicorn[standard]
lucupy
pytest-asyncio
gelidum
python-dateutil
mercury
bleach>=6.0.0
sortedcontainers
redis
git+https://${GH_PAT}@github.com/stroncod/pyexplore.git
