astropy
hypothesis
matplotlib
more-itertools
numpy>=1.23.0.a, <1.27
openpyxl
pandas
pytest
pytz
tabulate
scipy
coverage
requests
omegaconf
fastapi
strawberry-graphql[fastapi]
uvicorn[standard]
lucupy
pytest-asyncio
gelidum
python-dateutil
mercury
bleach >=6.0.0